{% extends "home.html" %}
{% load static %}
{% load tailwind_filters %}
{% block content %}
    <h1 class="text-4xl md:text-6xl font-bold mb-4 text-center">Welcome to our Coffee Shop</h1>
    <div class="px-4 bg-[#754b32]/30 backdrop-saturate-50 rounded-md mx-auto max-w-screen-xl py-8 sm:px-6 lg:px-8">
        <div class="flex ">
            <a
                class=" inline-block rounded-full border border-2 border-[#0e0100] bg-[#754b32] p-3 text-[#0e0100] hover:bg-white/20 hover:text-[#0e0100] focus:outline-none  active:text-white"
                href="{% url 'home' %}"
            >
            <span class="sr-only"> Back </span>

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M19 12H6M12 5l-7 7 7 7"/></svg>
            </a>

        </div>
        <form action="" method="post" class="mx-auto mb-0 mt-4 max-w-xl space-y-6">
            {% csrf_token %}
            <div>
                <div class="mb-6">
                    <label for="id_username" class="sr-only">Username</label>
                    <div class="relative">
                        <input
                            type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"
                            class="w-full rounded-lg text-white p-4 pe-12 text-sm shadow-sm bg-[#754b32]/50 border border-2 border-[#0e0100] placeholder-white active:border-[#0e0100] focus:outline-none"
                            placeholder="Enter email"
                        />
                        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-5 w-5 text-white"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                                />
                            </svg>
                        </span>
                    </div>
                </div>
                <div class="mb-6">
                    <label for="id_password" class="sr-only">Password</label>
                    <div class="relative">
                        <input
                            type="password" name="password" autocomplete="current-password" required="" id="id_password"
                            class="w-full rounded-lg p-4 pe-12 text-sm shadow-sm bg-[#754b32]/50 border border-2 border-[#0e0100] placeholder-white focus:outline-none"
                            placeholder="Enter password"
                        />
                        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-5 w-5 text-white"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                                />
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                                />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center justify-between">
                <button
                    type="submit"
                    class="px-4 py-2 bg-[#754b32]  text-white font-semibold rounded-lg shadow-md  hover:bg-white/20"
                >
                    <span class="inline-flex items-center">
                        Sign in
                    </span>
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
