{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Coffe Shop</title>
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="relative w-screen h-screen overflow-hidden">
        <img class="w-full h-full object-cover" src="{% static 'core/images/coffee-shop.jpg' %}" alt="Coffee Shop" />
        <div class="absolute inset-0 flex flex-col items-center justify-center text-white bg-black bg-opacity-50">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>