<!doctype html>
<html lang="en">
    <head>
        <title>Add product</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

         <!-- Tailwind -->
         <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <header>
            <!-- place navbar here -->
             <h1 class="">Form - Add product</h1>
             
        </header>
        <main>
           <div class="container">
            <form action="{% url "add_product" %}" method='post' enctype="multipart/form-data"> 
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="bg-[#2c2c2a] text-white font-bold py-2 px-4 rounded-full transition hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"> 
                    Add
                </button>
            </form>
           </div>
           
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
    </body>
</html>
